
                          <div class="col-md-10 offset-md-1">

                            <igx-card>
                                <igx-card-header>
                                    <h3 class="igx-card-header__title">{{heading}}</h3>
                                </igx-card-header>

                                <igx-card-content>

                      <form novalidate [formGroup]="form" (submit)="create(form.value)">
                      <div class="col-md-12">
                              <igx-input-group>
                                  <input igxInput id="title" name="title" formControlName="title" type="text" />
                                  <label igxLabel for="title">Title</label>
                              </igx-input-group>
                          </div>
                          <div class="col-md-12">
                            <igx-input-group>
                                <input igxInput id="goal" name="goal" formControlName="goal" type="text" />
                                <label igxLabel for="goal">Goal</label>
                            </igx-input-group>
                        </div>

                        <div class="col-md-12">
                            <div class="small-space"></div>
                            <h3>Template Content</h3>
                        </div>

                        <div class="col-md-12">
                            <igx-input-group>
                                <input igxInput id="subject" name="subject" formControlName="subject" type="text" />
                                <label igxLabel for="subject">Subject</label>
                            </igx-input-group>
                        </div>
                        <div class="small-space"></div>
                        <div class="col-md-12" *ngIf="froalaOptions">
                            <div [froalaEditor]="froalaOptions" id="template-body"
                                 formControlName="message_body">

                            </div>
                        </div>
                        <div class="col-md-12">
                          <div class="small-space"></div>
                          <igx-checkbox  formControlName="signature">
                            Use default signature
                        </igx-checkbox>

                      </div>
                    </form>
                  </igx-card-content>
                </igx-card>

            </div>

        <div class="small-space"></div>






